<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% set css %}
    {% include "node_modules/normalize.css/normalize.css" %}
    {% include "node_modules/@mapsindoors/css/buttons.css" %}
    {% include "node_modules/@mapsindoors/midt/midt.css" %}
    {% include "node_modules/@mapsindoors/midt/midt-helpers.css" %}
    {% include "style.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}
    </style>
  </head>
  <body class="font-family-sans-serif color-green-100 background-green-90">
    <header class="text-center color-white-base">
      <section class="container">
        <h1 class="font-size-xxx-large font-family-raleway">MapsIndoors</h1>
        <h2 class="font-size-x-large font-weight-medium margin-bottom-x-large">Indoor Navigation built with Google Maps</h2>
      </section>
    </header>
    <main class="background-white-base">
      <div class="container">
        <p class="text-center">
          <a class="mi-button mi-button--primary mi-button--large text-decoration-none margin-top-xx-large margin-bottom-xx-large" href="https://cms.mapsindoors.com/login" title="MapsIndoors CMS login">Log in to MapsIndoors CMS</a>
        </p>
        <section class="font-leading-x-large font-size-large flex items-center">
          <section class="half">
            <p class="font-measure-large padding-horizontal-medium">Where would we be without navigation? Lost, probably. With our indoor navigation platform, MapsIndoors, we're defining the future of indoor wayfinding</p>
            <p class="font-measure-large padding-horizontal-medium">
              <a href="https://mapspeople.com/mapsindoors">Read more about MapsIndoors</a>
            </p>
          </section>
          <section class="half">
            <p class="margin-vertical-none"><img src="img/mi2.png" alt="MapsIndoors CMS"></p>
          </section>
        </section>
      </div>
    </main>
    <footer class="container flex margin-top-medium">
      <p class="color-white-base half margin-left-medium">Made by <a href="https://mapspeople.com/mapsindoors" class="color-white-base">MapsPeople A/S</a>
      </p>
      <section class="half items-center">
        <ul class="margin-right-medium text-right">
          <li>
            <a href="https://mapsindoors.github.io" class=" color-white-base">MapsIndoors Documentation</a>
          </li>
          <li class="margin-left-medium">
            <a href="https://mapspeople.com/support" class=" color-white-base">Support</a>
          </li>
        </ul>
      </section>
    </footer>
  </main>
</body>
</html>
